---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1

---
<div class="home-container">
<h1>Star Wars films</h1>
<ul>
{% for film in films.results %}
<li><a href="/film/{{ film.title | slug }}">{{ film.title }}</a> </li>
{% endfor %}
</ul>
</div>
